#CSV files containing initial data
data/

#Dependancy directory
node_modules/

#configs
config.js

#logs
logs/

#front-end code
__test__/
stats.json
client/
babel.config.js
jest.config.js
webpack.config.js

#ssh/pem
ssh_pem/

#ec2 instructions
ec2_db_setup.txt
ec2_server_setup.txt

#routes controllers and models for other services
qnaModels.js
reviewsModels.js
qnaControllers.js
reviewsControllers.js